#editableDiv {
  display: flex;
  /*flex-direction: column;*/
  background-color: '#f00';
  justify-content: center;
  align-items: center;
}

input {
  width: 3.5rem;
  margin: 20px;
  border-bottom: 1px solid black;
  flex-direction: column;
}

.submit {
  border: 1px solid black;
  width: 5rem;
  margin-top: 2rem;
  background-color: white;
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: auto;
  margin: 2rem;
}

.color {
  height: 10rem;
  width: 10rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  /*margin-left: 500px;*/
  border: 3px solid black;
  margin-top: 20px;
}
